@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'custom-cursive';
  src: url("../fonts/cursive/austie.regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #944f5b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #944f5b;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #944f5b;
}

::-moz-selection {
  color: #fff;
  background: #944f5b;
}

::selection {
  color: #fff;
  background: #944f5b;
}

.tebw-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .tebw-nav {
    padding: 20px 0;
  }
}
.tebw-nav #tebw-logo {
  font-size: 64px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-family: "custom-cursive", Arial, serif;
}

@media screen and (max-width: 768px) {
  .tebw-nav #tebw-logo {
    font-size: 45px;
  }
}
.tebw-nav a {
  padding: 5px 10px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .tebw-nav .menu-1, .tebw-nav .menu-2 {
    display: none;
  }
}
.tebw-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.tebw-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.tebw-nav ul li a {
  font-size: 14px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.tebw-nav ul li a:hover, .tebw-nav ul li a:focus, .tebw-nav ul li a:active {
  color: white;
}
.tebw-nav ul li.has-dropdown {
  position: relative;
}
.tebw-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.tebw-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.tebw-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.tebw-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.tebw-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.tebw-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.tebw-nav ul li.has-dropdown:hover a, .tebw-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.tebw-nav ul li.btn-cta a {
  color: #944f5b;
}
.tebw-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
.tebw-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.tebw-nav ul li.active > a {
  color: #fff !important;
}

#tebw-counter,
#tebw-event,
.tebw-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.tebw-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.tebw-video {
  height: 450px;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.tebw-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.tebw-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.tebw-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.tebw-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.tebw-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.tebw-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.tebw-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.tebw-cover > .tebw-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .tebw-cover {
    height: 600px;
    background-position: center;
  }
}
.tebw-cover .display-t,
.tebw-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .tebw-cover .display-t,
  .tebw-cover .display-tc {
    height: 600px;
  }
}
.tebw-cover.tebw-cover-sm {
  height: 135px;
}
@media screen and (max-width: 768px) {
  .tebw-cover.tebw-cover-sm {
    height: 135px;
  }
}
.tebw-cover.tebw-cover-sm .display-t,
.tebw-cover.tebw-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .tebw-cover.tebw-cover-sm .display-t,
  .tebw-cover.tebw-cover-sm .display-tc {
    height: 400px;
  }
}

#tebw-counter,
#tebw-event {
  height: 850px;
  float: left;
}
#tebw-counter .display-t,
#tebw-counter .display-tc,
#tebw-event .display-t,
#tebw-event .display-tc {
  height: 700px;
  display: table;
  width: 100%;
}
#tebw-counter .tebw-heading h2,
#tebw-event .tebw-heading h2 {
  color: #fff;
}
#tebw-counter .tebw-heading span,
#tebw-event .tebw-heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}
#tebw-counter .overlay,
#tebw-event .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 768px) {
  #tebw-counter,
  #tebw-event {
    height: inherit;
    padding: 7em 0;
  }
  #tebw-counter .display-t,
  #tebw-counter .display-tc,
  #tebw-event .display-t,
  #tebw-event .display-tc {
    height: inherit;
  }
}
#tebw-counter .event-wrap,
#tebw-event .event-wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #tebw-counter .event-wrap,
  #tebw-event .event-wrap {
    padding: 10px;
    margin-bottom: 10px;
  }
}
#tebw-counter .event-wrap h3,
#tebw-event .event-wrap h3 {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#tebw-counter .event-wrap p, #tebw-counter .event-wrap span,
#tebw-event .event-wrap p,
#tebw-event .event-wrap span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}
#tebw-counter .event-wrap i,
#tebw-event .event-wrap i {
  color: white;
  font-size: 20px;
}
#tebw-counter .event-wrap .event-col,
#tebw-event .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#tebw-counter {
  height: 600px;
}
@media screen and (max-width: 768px) {
  #tebw-counter {
    height: auto;
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -80px;
  background-color: #999999;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 60px;
    height: 60px;
    margin-left: -20px !important;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
#tebw-gallery-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#tebw-gallery-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  #tebw-gallery-list li {
    margin-left: 0;
  }
}
#tebw-gallery-list li a {
  min-height: 300px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}
#tebw-gallery-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}
#tebw-gallery-list li a:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
#tebw-gallery-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  #tebw-gallery-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}
#tebw-gallery-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
#tebw-gallery-list li a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #tebw-gallery-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}
#tebw-gallery-list li.one-third {
  width: 32.3%;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: auto 100% !important;
}

#tebw-gallery-list li.postcards {
  -webkit-filter: sepia(42%) hue-rotate(-35deg);
  box-shadow: inset 0px -100px 80px -25px rgba(0,0,0,0.8)
}
@media screen and (max-width: 768px) {
  #tebw-gallery-list li.one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #tebw-gallery-list li.one-third {
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

.map-box {
  height: 540px;
}

.map-box .map-link{
  display: none;
}

.map-box iframe {
  border: none;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.4);
}

@media screen and (max-width: 768px) {
  .map-box iframe {
    display: none;
  }
  .map-items {
    height: 900px;
  }

  .map-box {
    height: 100px;
    text-align: center;
  }

  .map-box .map-link {
    display: block;
    font-size: 28px;
    border: none;
    color: white;
    background: #944f5b
  }
}

.tebw-social-icons {
  margin: 0;
  padding: 0;
}
.tebw-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.tebw-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #944f5b;
  padding-left: 10px;
  padding-right: 10px;
}
.tebw-social-icons li a i {
  font-size: 20px;
}

.tebw-contact-info ul {
  padding: 0;
  margin: 0;
}
.tebw-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.tebw-contact-info ul li:before {
  color: #944f5b;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tebw-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.tebw-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.tebw-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.tebw-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

form label {
  font-weight: normal !important;
}

#tebw-header .display-tc,
#tebw-counter .display-tc,
.tebw-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#tebw-header .display-tc h1, #tebw-header .display-tc h2,
#tebw-counter .display-tc h1,
#tebw-counter .display-tc h2,
.tebw-cover .display-tc h1,
.tebw-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#tebw-header .display-tc h1,
#tebw-counter .display-tc h1,
.tebw-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 170px;
  line-height: 1.5;
  font-family: "custom-cursive", Arial, serif;
}
@media screen and (max-width: 768px) {
  #tebw-header .display-tc h1,
  #tebw-counter .display-tc h1,
  .tebw-cover .display-tc h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 480px) {
  #tebw-header .display-tc h1,
  #tebw-counter .display-tc h1,
  .tebw-cover .display-tc h1 {
    font-size: 75px;
  }
}
#tebw-header .display-tc h2,
#tebw-counter .display-tc h2,
.tebw-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  #tebw-header .display-tc h2,
  #tebw-counter .display-tc h2,
  .tebw-cover .display-tc h2 {
    font-size: 16px;
  }
}
#tebw-header .display-tc .btn,
#tebw-counter .display-tc .btn,
.tebw-cover .display-tc .btn {
  padding: 15px 20px;
  background: #fff !important;
  color: #944f5b;
  border: none !important;
  font-size: 14px;
  text-transform: uppercase;
}
#tebw-header .display-tc .btn:hover,
#tebw-counter .display-tc .btn:hover,
.tebw-cover .display-tc .btn:hover {
  background: #fff !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#tebw-counter {
  text-align: center;
}
#tebw-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 100;
  display: block;
}
#tebw-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  #tebw-counter .feature-center {
    margin-bottom: 50px;
  }
}
#tebw-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}
#tebw-counter .icon i {
  height: 70px;
}
#tebw-counter .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

.simply-countdown {
  /* The countdown */
  margin-bottom: 2em;
}

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #944f5b;
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */
}

@media screen and (max-width: 768px) {
  .simply-countdown > .simply-section {
    width: 70px;
    height: 70px;
  }
  .simply-countdown > .simply-section .simply-amount {
    font-size: 22px;
  }

  .simply-countdown > .simply-section .simply-word {
    font-size: 8px;
  }

  .simply-countdown > .simply-section > div {
    height: 70px;
    width: 70px;
  }
}

#tebw-testimonial,
#tebw-services,
#tebw-started,
#tebw-event,
#tebw-couple-story,
#tebw-couple,
#tebw-gallery,
.tebw-section {
  padding: 5em 0;
  clear: both;
}

#tebw-footer {
  padding: 4em 0;
  clear: both;
}

@media screen and (max-width: 768px) {
  #tebw-testimonial,
  #tebw-services,
  #tebw-started,
  #tebw-footer,
  #tebw-event,
  #tebw-couple-story,
  #tebw-couple,
  #tebw-gallery,
  .tebw-section {
    padding: 3em 0;
  }
}

.tebw-section-gray {
  background: rgba(0, 0, 0, 0.04);
}

.couple-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .couple-wrap {
    width: 100%;
  }
}

.heart {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  z-index: 99;
  animation: pulse 1s ease infinite;
}
.heart i {
  font-size: 20px;
  background: #fff;
  padding: 20px;
  color: #944f5b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .heart {
    display: none;
  }
}

.couple-half {
  width: 50%;
  float: left;
}
@media screen and (max-width: 768px) {
  .couple-half {
    width: 100%;
  }
}
.couple-half h3 {
  font-family: "custom-cursive", Arial, serif;
  color: #944f5b;
  font-size: 50px;
}
.couple-half .groom, .couple-half .bride {
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.couple-half .groom img, .couple-half .bride img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    width: 100%;
    height: 140px;
  }
  .couple-half .groom img, .couple-half .bride img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}
.couple-half .groom {
  float: right;
  margin-right: 5px;
}
.couple-half .bride {
  float: left;
  margin-left: 5px;
}
.couple-half .desc-groom {
  padding-right: 180px;
  text-align: right;
}
.couple-half .desc-bride {
  padding-left: 180px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    margin-left: 0;
    margin-right: 0;
  }
  .couple-half .desc-groom {
    padding-right: 0;
    text-align: center;
  }
  .couple-half .desc-bride {
    padding-left: 0;
    text-align: center;
  }
}

.feature-center {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #944f5b;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
}

.tebw-heading {
  margin-bottom: 5em;
}
@media screen and (max-width: 768px) {
  .tebw-heading {
    margin-bottom: 1em;
  }
}
.tebw-heading.tebw-heading-sm {
  margin-bottom: 2em;
}
.tebw-heading h2 {
  font-size: 90px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #944f5b;
  font-family: "custom-cursive", Arial, serif;
}
@media screen and (max-width: 768px) {
  .tebw-heading h2 {
    font-size: 40px;
  }
}
.tebw-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.tebw-heading span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

#tebw-testimonial .wrap-testimony {
  position: relative;
}
#tebw-testimonial .wrap-testimony .testimony-slide {
  text-align: center;
}
#tebw-testimonial .wrap-testimony .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#tebw-testimonial .wrap-testimony .testimony-slide span a.twitter {
  color: #944f5b;
  font-weight: 300;
}
#tebw-testimonial .wrap-testimony .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100px;
  height: 100px;
}
#tebw-testimonial .wrap-testimony .testimony-slide figure img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#tebw-testimonial .wrap-testimony .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  #tebw-testimonial .wrap-testimony .testimony-slide blockquote {
    width: 100%;
  }
}
#tebw-testimonial .wrap-testimony .testimony-slide blockquote p {
  font-style: italic;
  color: #8f989f;
  font-size: 20px;
  line-height: 1.6em;
}
#tebw-testimonial .wrap-testimony .testimony-slide.active {
  display: block;
}
#tebw-testimonial .wrap-testimony .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#tebw-testimonial .wrap-testimony .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#tebw-testimonial .wrap-testimony .arrow-thumb a:hover, #tebw-testimonial .wrap-testimony .arrow-thumb a:focus, #tebw-testimonial .wrap-testimony .arrow-thumb a:active {
  text-decoration: none;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.feature-left:last-child {
  margin-bottom: 0;
}
.feature-left .icon {
  float: left;
  margin-right: 5%;
  width: 54px;
  height: 54px;
  background: #fff;
  display: table;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .feature-left .icon {
    margin-right: 5%;
  }
}
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
  color: #944f5b;
}
.feature-left .feature-copy {
  float: left;
  width: 80%;
}

.feature-left .feature-copy p {
  font-size: 14px;
}


@media screen and (max-width: 768px) {
  .feature-left .feature-copy {
    width: 70%;
    float: left;
  }
}
.feature-left .feature-copy h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
  margin-bottom: 10px;
}

#tebw-started {
  position: relative;
}
#tebw-started .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#tebw-started .tebw-heading h2 {
  color: #fff;
}
#tebw-started .tebw-heading p {
  color: rgba(255, 255, 255, 0.5);
}
#tebw-started .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#tebw-started .form-control::-webkit-input-placeholder {
  color: #fff;
}
#tebw-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#tebw-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#tebw-started .form-control:-ms-input-placeholder {
  color: #fff;
}
#tebw-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#tebw-started .btn {
  height: 54px;
  background: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 50px;
}

#tebw-started .btn:hover {
  background: rgba(0,0,0,0.3);
}

#tebw-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#tebw-started .form-inline .form-group .form-control {
  width: 100%;
}
#tebw-started .tebw-heading {
  margin-bottom: 30px;
}
#tebw-started .tebw-heading h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #tebw-footer .copyright .pull-left,
  #tebw-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
#tebw-footer .copyright .block {
  display: block;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #944f5b;
}

#tebw-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #tebw-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#tebw-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#tebw-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#tebw-offcanvas ul {
  padding: 0;
  margin: 0;
}
#tebw-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#tebw-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#tebw-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#tebw-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#tebw-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.tebw-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.tebw-nav-toggle.active i::before, .tebw-nav-toggle.active i::after {
  background: #444;
}
.tebw-nav-toggle:hover, .tebw-nav-toggle:focus, .tebw-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.tebw-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.tebw-nav-toggle i::before, .tebw-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.tebw-nav-toggle.tebw-nav-white > i {
  color: #fff;
  background: #fff;
}
.tebw-nav-toggle.tebw-nav-white > i::before, .tebw-nav-toggle.tebw-nav-white > i::after {
  background: #fff;
}

.tebw-nav-toggle i::before {
  top: -7px;
}

.tebw-nav-toggle i::after {
  bottom: -7px;
}

.tebw-nav-toggle:hover i::before {
  top: -10px;
}

.tebw-nav-toggle:hover i::after {
  bottom: -10px;
}

.tebw-nav-toggle.active i {
  background: transparent;
}

.tebw-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.tebw-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.tebw-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .tebw-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #944f5b;
  color: #fff;
  border: 2px solid #944f5b;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f366a3 !important;
  border-color: #f366a3 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #944f5b;
  border: 2px solid #944f5b;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #944f5b;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #944f5b;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.tebw-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .js .animate-box {
    opacity: 1;
  }
}

/*

Blog posts

*/

.tebw-post {
  margin-top: 30px;
}

.tebw-post h2 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1;
  color: #944f5b;
  font-family: "custom-cursive", Arial, serif;
}

.tebw-post h3 {
  margin-top: 40px;
  color: #5d5d5d;
}

.tebw-post p {
  text-align: justify;
}
/*

RSVP Page

*/

.tebw-rsvp {
  margin-top: 30px;
}

.tebw-rsvp h2 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1;
  color: #944f5b;
  font-family: "custom-cursive", Arial, serif;
}

#invt-id-btn {
  height: 54px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.tebw-rsvp .second-step {
  display: none;
}

.tebw-rsvp .add-more-message {
  display: none;
}


.invitee-list .invitee-name input {
  padding-left: 10px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#add-invt-btn {
  height: 36px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.invitee-list .invitee-row {
  height: 48px;
}

.toggle {
  position: absolute;
  left: 42px;
  width: 10rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .toggle {
    left: 8px;
  }
}

[type="checkbox"] {
  display: none;
}

.check-label {
  display: block;
  width: 10rem;
  height: 3.8rem;
  border: none;
  border-radius: 2.5rem;
  background: #d7d7d7;
  cursor: pointer;
  overflow: hidden;
}
.check-label .face {
  display: block;
  position: absolute;
  content: '';
  top: 0.2rem;
  bottom: 0;
  right: 6.3rem;
  width: 3.4rem;
  height: 3.4rem;
  margin: 0;
  border: none;
  border-radius: 1.8rem;
  background: -webkit-linear-gradient(45deg, #dedede 0%, #fff 70%);
  background: -o-linear-gradient(45deg, #dedede 0%, #fff 70%);
  background: linear-gradient(45deg, #dedede 0%, #fff 70%);
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  overflow: hidden;
}
[type="checkbox"] + .check-label #background {
  width: inherit;
  height: inherit;
  border: none;
  border-radius: inherit;
  background: -webkit-gradient(linear, right top, left top, from(#f39af3), to(#68475c));
  background: -webkit-linear-gradient(right, #f39af3, #68475c);
  background: -o-linear-gradient(right, #f39af3, #68475c);
  background: linear-gradient(to left, #f39af3, #68475c);
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
[type="checkbox"]:checked + .check-label #background {
  opacity: 1;
}
.face-container {
  position: absolute;
  width: 3.4rem;
  height: 3.4rem;
}
.face {
  -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
}
.eye {
  position: absolute;
  top: 1.6rem;
  height: 0.25rem;
  width: 0.625rem;
  background: #8e8e8e;
  border-radius: 0 0 100% 50%;
}
.eye.left {
  left: 0.35rem;
}
.eye.right {
  left: 1.8rem;
}
.mouth {
  position: absolute;
  top: 2.3rem;
  left: 1.1rem;
  width: 0.8rem;
  height: 0.25rem;
  background: #8e8e8e;
  border-radius: 40% 40% 50% 50%;
}
[type="checkbox"]:checked + .check-label .face {
  right: 0.2rem;
}
[type="checkbox"]:checked + .check-label .face .face-container {
  -webkit-animation: rotateElement forwards 0.3s;
  animation: rotateElement forwards 0.3s;
}
[type="checkbox"]:checked + .check-label .face .eye.left, [type="checkbox"]:checked + .check-label .face .eye.right {
  -webkit-animation: changeFace forwards 0.3s 0.075s;
  animation: changeFace forwards 0.3s 0.075s;
}
[type="checkbox"]:checked + .check-label .face .mouth {
  -webkit-animation: changeMouth forwards 0.3s 0.075s;
  animation: changeMouth forwards 0.3s 0.075s;
}
[type="checkbox"]:checked + .check-label .face .eye.left {
  left: 0.5rem;
}
[type="checkbox"]:checked + .check-label .face .eye.right {
  left: 1.9rem;
}
[type="checkbox"] + .check-label .face .face-container {
  -webkit-animation: rotateElementReverse forwards 0.3s;
  animation: rotateElementReverse forwards 0.3s;
}
[type="checkbox"] + .check-label .face .eye.left, [type="checkbox"] + .check-label .face .eye.right {
  -webkit-animation: changeFaceReverse forwards 0.3s;
  animation: changeFaceReverse forwards 0.3s;
}
[type="checkbox"] + .check-label .face .mouth {
  -webkit-animation: changeMouthReverse forwards 0.3s;
  animation: changeMouthReverse forwards 0.3s;
}
@-webkit-keyframes rotateElement {
  0% {
    left: 0;
  }
  25% {
    left: 4rem;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: -4rem;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 1rem;
    opacity: 1;
  }
}
@keyframes rotateElement {
  0% {
    left: 0;
  }
  25% {
    left: 4rem;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: -4rem;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 1rem;
    opacity: 1;
  }
}
@-webkit-keyframes changeFace {
  100% {
    top: 1.3rem;
    width: 0.275rem;
    height: 0.275rem;
    background: #8e8e8e;
    border: none;
    border-radius: 100%;
  }
}
@keyframes changeFace {
  100% {
    top: 1.3rem;
    width: 0.275rem;
    height: 0.275rem;
    background: #8e8e8e;
    border: none;
    border-radius: 100%;
  }
}
@-webkit-keyframes changeMouth {
  100% {
    top: 2rem;
    left: 0.5rem;
    height: 0.8rem;
    width: 1.5rem;
    background: #8e8e8e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
    background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
    border-radius: 0.2rem 0.2rem 1rem 1rem;
  }
}
@keyframes changeMouth {
  100% {
    top: 2rem;
    left: 0.5rem;
    height: 0.8rem;
    width: 1.5rem;
    background: #8e8e8e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
    background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
    border-radius: 0.2rem 0.2rem 1rem 1rem;
  }
}
@-webkit-keyframes rotateElementReverse {
  0% {
    left: 0;
  }
  25% {
    left: -4rem;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: 4rem;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes rotateElementReverse {
  0% {
    left: 0;
  }
  25% {
    left: -4rem;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    left: 4rem;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes changeFaceReverse {
  0% {
    top: 1.7rem;
    width: 0.375rem;
    height: 0.375rem;
    border: none;
    border-radius: 100%;
    background: #8e8e8e;
  }
}
@keyframes changeFaceReverse {
  0% {
    top: 1.7rem;
    width: 0.375rem;
    height: 0.375rem;
    border: none;
    border-radius: 100%;
    background: #8e8e8e;
  }
}
@-webkit-keyframes changeMouthReverse {
  0% {
    top: 2.55rem;
    left: 0.9rem;
    height: 0.625rem;
    width: 1.625rem;
    background: #8e8e8e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
    background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
    border: none;
    border-radius: 0.2rem 0.2rem 1rem 1rem;
  }
  25% {
    left: 1.125rem;
  }
}
@keyframes changeMouthReverse {
  0% {
    top: 2.55rem;
    left: 0.9rem;
    height: 0.625rem;
    width: 1.625rem;
    background: #8e8e8e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
    background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
    background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
    border: none;
    border-radius: 0.2rem 0.2rem 1rem 1rem;
  }
  25% {
    left: 1.125rem;
  }
}



/*# sourceMappingURL=style.css.map */
